body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
}

nav {
  background-color: antiquewhite;
  padding: 10px 50px;
}

.brand {
  font-size: 2rem;
  font-weight: 700;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul,
li {
  list-style: none;
}

li {
  padding: 5px;
  margin: 0 5px;
  font-weight: 700;
}

.hero {
  background-image: url(../../public/image/bram.jpg);
  width: 100wh;
  height: 220px;
  background-position: left;
}

h1 {
  font-size: 2.2rem;
  margin: 0;
  padding: 1.8rem;
  border-bottom: 1px solid white;
}

.main {
  background-color: antiquewhite;
  text-align: center;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article {
  max-width: 380px;
  padding: 15px;
  margin: 6px;
}

p {
  color: gray;
}

span {
  padding: 8px;
  margin: 0 10px;
  border: 1px solid wheat;
}

.details {
  text-align: left;
}

img {
  width: 100%;
}

.hero-heading {
  margin: 0 auto;
  text-align: center;
  color: brown;
  padding-top: 2rem;
}
