body {
  font-size: 16px;

  background-color: lightgray;
  color: #e74c3a;
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.heading {
  color: rgb(65, 64, 64);
}

p {
  color: gray;
  padding-right: 1rem;
}

#root {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}

h1 {
  margin: 0;
  color: rgb(65, 64, 64);
}

img {
  width: 100%;
  font-size: 0;
  height: 220px;
}

.center {
  display: flex;
  align-items: center;
}

.details {
  background-color: white;
  padding: 2rem;
  margin-top: -10px;
}

.path {
  position: relative;
  max-width: 380px;
  margin: 10px;
  height: auto;
}

.photos {
  color: white;
  font-weight: bolder;
  background-color: #e74c3a;
  padding: 0.6rem 1rem;
  position: absolute;
  top: 28.2%;
  left: 0;
}

.date {
  color: white;
  font-weight: bolder;
  background-color: #e74c3a;
  padding: 1.2rem;
  border-radius: 50%;
  font-size: 1.2rem;
  position: absolute;
  top: 6%;
  right: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
