body {
  background-color: aliceblue;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 60px;
}

button {
  padding: 5px 12px;
  margin: 6px;
  border: none;
  margin-top: 2rem;
  border-radius: 5px;
  font-weight: 800;
  display: block;
  background-color: rgb(47, 47, 255);
}

h1 {
  border-bottom: 1px solid;
  border-style: outset;
  margin: 0 50px;
  padding: 15px;
}

.btn--primary {
  color: white;
  background-color: blue;
}

.btn--secondary {
  color: white;
  background-color: rgb(219, 9, 9);
}

.btn--tertiary {
  color: white;
  background-color: rgb(34, 194, 34);
}

.btn--small {
  padding: 5px 12px;
  margin: 6px;
}

.btn--medium {
  padding: 7px 1.2rem;
  margin: 8px;
}

.btn--large {
  padding: 9px 2rem;
  margin: 10px;
}
